<!DOCTYPE html>
<!--
This is the view for the chatbot, you can make your business page
here if you feel comfortable with Angular and html. If you do not feel
comfortable editing this file you can make your business page separate from
the chatbot.
-->
<html>

<head>
    <title>Model Car Store ChatBot!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/MainController.js"></script>
</head>

<body ng-app="ChatBot">
    <div class="container">
        
        <div class="panel panel-default" ng-controller="MainController as main">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2">
                        <img class="pull-right" src="/img/Machovka-car-Mazda-3.png" style="max-height: 50px;">
                    </div>
                    <div class="col-xs-8">
                        <h1 style="margin-top: 0" >Model Car Store ChatBot!</h1>
                        <p class="text-center">Talk to a RoboSalesman!</p>
                    </div>
                    <div class="col-xs-2">
                        <img src="/img/classic-car.png" style="max-height: 50px;">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="white-space: pre-wrap;">
                    <li class="message" ng-repeat="message in chat">{{message.message}} - {{message.author}}</li>
                </div>
            </div>
            <div class="panel-footer">
              <form>
                <div class="input-group">
                    <input ng-model="usertext" type="text" class="form-control" placeholder="Say something..."></input>
                    <span class="input-group-btn">
                      <button ng-click="sendText()" class="btn btn-primary" type="submit">Send</button>
                    </span>
                </div>
              </form>

            </div>
        </div>
        <div class="row">
            <div class="panel panel-body panel-default col-sm-4 col-sm-offset-4">
                <p>Say things to the bot like:</p>
                <ul>
                    <li>hello!</li>
                    <li>what do you sell?</li>
                    <li>how many 1939 cadillac limousines do you have?</li>
                    <li>tell me about the 1995 Honda Civic.</li>
                    <li>how much does the 1998 Chrysler Plymouth Prowler cost?</li>
                    <li>I will buy a 1948 Porsche 356-A Roadster.</li>
                </ul>
            </div>
        </div>

    </div>
    

</body>

</html>
