/*
This is the css file. You can put any custom css you chose to here.
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #4ECDC4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.panel {
	box-shadow: 0 1px 3px rgba(13,26,44,0.16),0 15px 25px rgba(13,26,44,0.24);
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

li.message {
    color: black;
}
li.message:nth-child(odd) {
    color: #777;
}
li.message:nth-child(even) {
    color: blue;
}
